.forks{
  display: flex;
  margin-left: 120px;
  margin-top: -47px;

}
.fork-md {
  margin-right: 15px;

}
.md-fork {
  display: flex;
  margin-left: 10px;
}
.avatar {
 display: flex;
  justify-content: center;
  margin: auto;
}
.rep-icon {
  margin-left: 100px;
}